<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del análisis Jaguarchat</title>
</head>
<body>
    <img src="https://i.ibb.co/sPPL3F2/jaguar3.png" alt="Logo de Jaguar Chat" width="200px">
    <h1>Resultados del análisis Jaguarchat</h1>
    <p>Estimado maestro, le enviamos los resultados del análisis de las conversaciones del usuario de Jaguarchat. Por favor, haga clic en el siguiente enlace para ver los resultados de la interacción de su alumno con Jaguarchat:</p>
    <p><a href="{{ analisis_url }}" >Ver resultados del análisis</a></p>
</body>
</html>